/* Add here all your CSS customizations */



.owl-carousel .owl-item a img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.owl-carousel:hover .owl-item a img {
    opacity: 0.6;
}

.owl-carousel:hover .owl-item a:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: none;
    opacity: 1;
}

.header-nav-main.header-nav-main-light .nav-pills > li:hover > a {
    background-color: #fff !important;
    color: #f45c57 !important;
}

.header-nav-main.header-nav-main-light .nav-pills > li.active > a:hover {
    background-color: #f5f5f5 !important;
    color: #f45c57 !important;
}

.page-header {
    border-top: 5px solid #dedede;
}

    .page-header h1 {
        color: #f45c57;
    }



.ultima-sintesis {
    color: #f45c57 !important;
    font-weight: bold;
}

.text-upper
{
    text-transform:uppercase !important;
    
}



html.dark .portfolio-list a {
    color: #fff;
}

    html.dark .portfolio-list a:hover {
        color: #f45c57;
    }

/*.mgrid a
    {
        color:#f45c57 !important;
    }

    a.mgrid
    {
        color:#f45c57 !important;
    }*/



#porfolio-department .col-md-4,.col-sm-6, .col-xs-12{
   
    padding-right: 3px;
    padding-left: 10px;
}

.thumb-info {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 100%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 0px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}




.post-slide{
    background: #fff;
    margin: 0 15px;
}
.post-slide .post-img{
    position:relative;
    float: left;
    width:70%;
    height: auto;
}
.post-slide .over-layer{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0;
    cursor: pointer;
    transition: opacity 0.30s ease 0s;
}
.post-slide .over-layer:after{
    color: #fff;
    content: "+";
    font-size: 52px;
    position: absolute;
    top: 31%;
    left:42%;
}
.post-slide .post-img:hover .over-layer{
    opacity:1;
}
.post-slide .post-img img{
    width:100%;
    height: auto;
}
.post-slide .post-review{
    float: left;
    padding: 1px 20px;
    width: 30%;
}
.post-slide .post-title{
    margin:0 0 5px 0;
}
.post-slide .post-title a{  
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;
    transition:color 0.30s ease;
}
.post-title > a:hover{
    text-decoration: none;
   
}
.post-slide .post-date{
    display:block;
    font-size:15px;
    font-weight:700;
    margin-bottom:17px;
}
.post-description{
   
    font-size: 15px;
    font-weight:400;
    text-align:left;
}
.owl-pagination{
    margin-top: 40px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #3498db;
}
@media only screen and (max-width: 990px){
    .post-slide .over-layer:after{
        top:39%;
        left: 45%;
    }
}
@media only screen and (max-width: 640px){
    .post-slide .post-img{
        width:100%;
    }
    .post-slide .post-review{
        width:100%;
        padding:10px;
    }
}

.herramientas
{
   margin-bottom:30px ;
}



.lazy{
 max-width: 100%; 
 height: auto; 
}